<div class="contact-widget widget" itemscope="" itemtype="http://schema.org/LocalBusiness">

  <div class="name" itemprop="name">
    <strong>Canvas</strong>
  </div> <!-- .name -->

  <div class="description" itemprop="description">Lorem ipsum dolor sit amet, orci a faucibus, ante curabitur augue
    ornare nulla facilisi bibendum</div>

  <div class="address" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
    <div class="street" itemprop="streetAddress">Street</div>
    <div class="city" itemprop="addressLocality">City</div>
    <div class="region" itemprop="addressRegion">State / Region</div>
    <div class="postcode" itemprop="postalCode">Zip / Post Code</div>
    <div class="country" itemprop="addressCountry">Country</div>
  </div> <!-- .address -->

  <div class="telephone"><i class="fa fa-phone fa-fw"></i> <a href="tel:08007654321" title="Call us"
      itemprop="telephone">0800 765 4321</a></div>
  <div class="email-address"><i class="fa fa-envelope fa-fw"></i> <a href="contact.html" title="Email us"
      itemprop="email">you@yourdomain.com</a></div>
  <div class="website"><i class="fa fa-globe fa-fw"></i> <a href="http://www.yourdomain.com" title="Visit our website"
      itemprop="url">www.yourdomain.com</a></div>

  <div class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">

    <div class="rating-stars">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half"></i>
    </div>
    <span itemprop="ratingValue">4.6</span> stars based on <span itemprop="reviewCount">99</span> reviews

  </div> <!-- .rating -->
</div> <!-- .contact-widget -->