<div class="mailing-list">
  <h4 class="widget-title">Join our Mailing List</h4>
  <p>Lorem ipsum dolor sit amet, orci a faucibus, ante curabitur augue</p>
  <form class="widget-form" action="#" method="get">
    <label>
      <span class="screen-reader-text">Join our mailing list for news and exclusive offers:</span>
      <input type="email" class="email-field" placeholder="Enter your email address" value="" name="email"
        title="Enter your email address" />
    </label>
    <button><i class="fa fa-angle-right"></i></button>
  </form>
</div> <!-- .mailing-list -->