					<nav id="main-menu" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
						<ul class="horizontal-navigation">
							<li class="menu-home" itemprop="url"><a href="{% url 'home' %}" title="Home" itemprop="name">Home</a></li> <!--active-->
							<li class="menu-about" itemprop="url"><a href="{% url 'about' %}" title="About" itemprop="name">About</a></li>
							<li class="menu-portfolio" itemprop="url"><a href="{% url 'portfolio' %}" title="Portfolio" itemprop="name">Portfolio</a></li>
							<li class="menu-blog" itemprop="url"><a href="{% url 'blog' %}" title="Blog" itemprop="name">Blog</a></li>
							<li class="menu-contact" itemprop="url"><a href="{% url 'contact' %}" title="Contact" itemprop="name">Contact</a></li>
						</ul>
					</nav>