<div class="social-icons">
  <h4 class="widget-title">Connect with us</h4>
  <p>Lorem ipsum dolor sit amet, orci a faucibus, ante curabitur augue ornare nulla facilisi</p>
  <ul class="horizontal-navigation">
    <li class="facebook"><a href="https://www.facebook.com/yuto.kounosu/" title="Facebook" target="_blank"><i class="fa fa-facebook fa-2x fa-fw"></i></a>
    </li>
    <li class="twitter"><a href="https://twitter.com/yuto08327438" title="Twitter" target="_blank"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
    <li class="google-plus"><a href="#" title="Google+" target="_blank"><i
          class="fa fa-google-plus fa-2x fa-fw"></i></a></li>
    <li class="pinterest"><a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest fa-2x fa-fw"></i></a>
    </li>
    <li class="instagram"><a href="#" title="Instagram" target="_blank"><i class="fa fa-instagram fa-2x fa-fw"></i></a>
    </li>
    <li class="youtube"><a href="#" title="YouTube" target="_blank"><i class="fa fa-youtube fa-2x fa-fw"></i></a></li>
  </ul> <!-- .horizontal-navigation -->
</div> <!-- .social-icons -->